include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include workflow_engine *.py
recursive-include examples *.yaml *.py
exclude .gitignore
exclude setup.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
